header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 35px;
  background-color: rgb(250, 245, 255);
  list-style: none;
  padding: 10px 30px;
}
a {
  transition: all 0.2s;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  /* color: rgb(255, 255, 255); */
}

.active {
  background-color: rgb(192, 125, 255);
  color: white;
}
a:hover {
  /* text-transform: ; */
  font-weight: 700;
}
a:active {
  color: white;
}
